.home {
    background-image: url("home-umbrella.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    text-align: center;
}

.home-text {
    background-color: #144EB8;
    border-radius: 10px;
    display: inline-block;
    color: #F7E7D4;
    justify-content: center;
    text-align: center;
    margin-top: 40vh;
    font-family: 'Merriweather', serif;
}
.home-text a {
    color: #F7E7D4;
    font-family: 'Merriweather', serif;
}
.home-text a:hover {
    color: #FB8604;
    font-family: 'Merriweather', serif;
}

.login {
    background-image: url("home-umbrella.jpg");
    background-size: cover;
    justify-content: center;
    padding: 200px 500px;
    /* background-color: #F9EEE1; */
}

.loginForm {
    display: inline-block;
}

.card {
    padding: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

.navMenu {
    justify-content: center;
    background-color: #144EB8;
    font-family: 'Merriweather', serif;
    height: 100px;
}

.navbar, .navbar-brand, .navbar-nav, .nav-link {
    color: #F7E7D4;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.customer-home {
    padding: 0px;
    background-color: #F9EEE1;
    width: 100%;
    height: 100vh;
}

.customer-home .container {
    
}

.row {
    width: 100%;
}

.tabs {
    padding: 100px 200px;
}

.container {
    padding: 20px;
    font-family: 'Merriweather', serif;
}

.newClaimForm span {
    color: red;
}

.form-control.plain-text input:focus {
    border: 0px;
}

.spinner {
    margin: 0 auto;
}

.button-edit {
    width: 150px;
    margin-left: 75%;
    margin-bottom: 5px;
}